.home-container{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    width: 100vw;
    flex-direction: column;
}
/*---------ICON STYLE--------*/
.icon-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-container-flex{
    display: flex;
    margin-top: 2%;
}

.icon-container-flex img{
    width: 40px;
    margin: 50px;
    transition-duration: .6s;
    
}

.icon-container-flex img:hover{
    width: 40px;
    margin: 50px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition-duration: .6s;
}
/*--------END ICON STYLE--------*/

.name-and-welome-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.name-and-welome-container-flex{
    width: fit-content;
}
/*---------NAME STYLE-------- */
.name-container{
    margin-top: 4%;
    width: 100%;
}

.home-container .name{
    font-size: 130px;
    margin: 0;
    color: white;
    transition-duration: .6s;
}

.home-container .name:hover{
    margin: 0;
    color: black;
    transition-duration: .6s;
}
/*---------END NAME STYLE-------- */

/*---------WELCOME STYLE-------- */
.home-container .welcome{
    font-size: 40px;
    margin: -60px 0 0 7px;
    color: white;
    transition-duration: .6s;
}

.home-container .welcome:hover{
    font-size: 40px;
    margin: -60px 0 0 7px;
    color: black;
    transition-duration: .6s;
}
/*---------END WELCOME STYLE-------- */

/*---------CATEGORY STYLE-------- */
.catergory-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.catergory-container-flex{
    display: flex;
}

.catergory-container-flex p {
    margin: 40px;
    font-size: 25px;
    color: white;
    transition-duration: .6s;
}
.catergory-container-flex p:hover {
    margin: 40px;
    font-size: 25px;
    color: black;
    transition-duration: .6s;
    background-color: white;
    border-radius: 10px;
    padding: 4px 6px 4px 6px;
}
/*---------END CATERGORY STYLE-------- */