.projects-container{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    width: 100vw;
    flex-direction: column;
    transition-duration: .6s;
    animation: fadeIn 2s;
}

.projects-container-none{
    opacity: 0; 
    height: 0;
    width: 0;
    overflow: hidden;
    transition: opacity 1s ease-out;
}

/*---------NAME STYLE-------- */

.projects-to-home-container{
    display: flex;
    justify-content: center;
}

.projects-to-home-container p{
    color: white;
    transition-duration: .6s;
}

.tom-container{
    margin-top: 4%;
    width: 100%;
}

.tom-container .tom{
    font-size:calc(20px + 1vw);
    margin: 0;
}

.paz-container{
    width: 100%;
}

.paz-container .paz{
    font-size:calc(20px + 1vw);
    margin: 0;
}

.university-container{
    width: 100%;
}

.university-container .university{
    font-size:calc(20px + 1vw);
    margin: 0;
}

.projects-list-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.projects-list-container-flex{
    width: fit-content;
    
}

.projects-list-container-flex p{
    color: white;
    transition-duration: .6s;
}

.more-to-come-container p {
    font-weight: 300;
}
 
.tom-container p:hover, .paz-container p:hover, .university-container p:hover, .projects-to-home-container p:hover{
    background-color: white;
    border-radius: 10px;
    padding: 4px 6px 4px 6px;
    transition-duration: .6s;
    color: black;
}


.projects-description-flex{
    display: flex;
    align-items: center;
    
    margin-left: 90px;
}

.projects-description-flex p{
    max-width: 400px;
    font-weight: 300;
}
/*---------END NAME STYLE-------- */


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}