.TomContainer{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    width: 100vw;
    flex-direction: column;
    transition-duration: .6s;
    animation: fadeIn 5s;
}

.TomContainerNone{
    display: none;
    transition-duration: .6s;
    animation: fadeOut 3s;
}

.IconContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}


.IconContainer-flex{
    display: flex;
    margin-top: 2%;
}

.IconContainer-flex img{
    width: 40px;
    margin: 50px;
    transition-duration: .6s;
    
}

.IconContainer-flex img:hover{
    width: 40px;
    margin: 50px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition-duration: .6s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}